<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <title>Welcome Page</title>
    </head>
    <body>
        <div class = "header">
            <a href="http://halongpbn.pythonanywhere.com/">Welcome!</a>
        </div>

  <div class="blog_post" style="margin-top:60px">
    {% for post in posts %}
  <div>
      <p>published: {{ post.published_date }}</p>
      <h1><a href="">{{ post.title }}</a></h1>
      <p>{{ post.text|linebreaksbr }}</p>
  </div>
{% endfor %}
          <!--<div class="publish">
          <p>published: {{ post.published_date }}</p>
          </div>
          div class="blog_head">
            <h1><a href="">{{ post.title }}</a></h1>
          </div>
          <div class="blog_content">
               <p>{{ post.text|linebreaksbr }}</p>
        </div>-->
      </div>
    </body>
</html>
