body{
  background-color:#D77874;
}
.header{
  font-size:50px;
  color:black;
  background-color:#F0F0F0;
  width:960px;
  margin:0px auto;
  width:100%;
  position:fixed;
  top:0px;
  text-align:center;
  z-index:3;
}
a{
  text-decoration: none;
  color:white;
}
.blog_post{
  text-align:center;
  margin:40px;
  padding:30px;
  width:80%;
  display:block;
  padding:30px;
  background-color:#EEDFE4;
}
.publish{
  font-size:15px;
}
.blog_head{
  font-size:30px;
}
.blog_content{
  font-size:25px;
}
